
<section>
  <app-header></app-header>
  <mat-card style="height: 100vh;">
    <mat-card class="p-5">
        <mat-card-header>
            <mat-card-title>UPLAOD YOUR IMAGE HERE</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
        <img matCardImage src="">
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions align="start">
            <button mat-button >Action1</button>

        </mat-card-actions>
        <mat-card-footer>
            Footer
        </mat-card-footer>
    </mat-card>
  </mat-card>
</section>
